molo.core==3.12.0
molo.profiles==1.3.3
molo.commenting==0.5.4
molo.yourwords==1.2.1
molo.polls==2.0.2
molo.surveys==1.1.0
django-contrib-comments
django-overextends
gunicorn
psycopg2
html5lib==0.9999999
