molo.core==4.1.0
celery<4.0
molo.profiles==2.0.2
molo.commenting==2.0.1
molo.yourwords==2.0.0
molo.polls==3.0.1
molo.surveys==2.0.0
django-contrib-comments
django-overextends
gunicorn
psycopg2
html5lib==0.9999999
django_compressor==2.1
django-google-analytics-app==2.1.4
