{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="profiles">
	<h1 class="heading heading--profiles">{% trans "Login to your account" %}</h1>
	<h6 class="profiles__feedback-message">
    {% trans "We're excited to have you..." %}
  </h6>
		<form method="post" action="" class="profiles__form">
    {% csrf_token %}
      {% if form.errors %}
        <span class="error">
          {% trans "Your username and password do not match. Please try again." %}
        </span>
      {% endif %}
      <fieldset>
				<label for="id_username">{% trans "Username" %}</label>
				{{form.username}}
      </fieldset>

      <fieldset>
				<label for="id_password">{% trans "Password" %}</label>
				{{form.password}}
        <span class="input-hint">({% trans "Eg.: 2086" %})</span>
      </fieldset>

			<input type="submit" value="{% trans 'Sign in' %}">
			<input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "molo.profiles:login_success" %}{% endif %}" />
		</form>

    <div class="call-to-action call-to-action--profile">
    	<h6 class="profiles__feedback-message">
        {% trans "Not a member yet?" %}
      </h6>
    	<a href="{% url "molo.profiles:user_register" %}" class="call-to-action__nav-item">{% trans "Register" %}</a>
    </div>
		<a href="{% url 'molo.profiles:forgot_password' %}" class="call-to-action__text-item call-to-action__text-item--forgotten-pass">{% trans 'Forgotten your password?' %}</a>
</div>
{% endblock %}
