{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="profile">
<div class="block-default fb-body fb-card">
  <h6 class="block-heading fb-accent-1">{% trans "Password Change" %}</h6>
 <div class="signin-form padding15 fb-body">
  {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

     <form method="post">{% csrf_token %}
         {{ form.new_password1.errors }}
       <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %} </label>{{ form.new_password1 }}</p>
         {{ form.new_password2.errors }}
       <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %} </label>{{ form.new_password2 }}</p>
       <input type="submit" class="flatbutton fb-accent-1" value='{% trans "Change my password" %}' />
     </form>

   {% else %}
     <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
   {% endif %}
 </div>
 </div>
 </div>
 {% endblock %}
