{% extends "base.html" %}
 {% load i18n %}

 {% block content %}
   <div class="block-default fb-body fb-card">
     <h6 class="block-heading fb-accent-1">{% trans "Forgotten your password?" %}</h6>
   	<div class="signin-form padding15 fb-body">
     <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

     <form method="post">{% csrf_token %}
       {{ form.email.errors }}
       <p><label for="id_email">{% trans 'Email address:' %}</label>
         {{ form.email }}
       </p><br>
       <input type="submit" class="flatbutton fb-accent-1" value='{% trans "Reset my password" %}' />
     </form>
   </div>
  </div>
{% endblock %}
