
{% load wagtailcore_tags compress static wagtailuserbar core_tags freebasics_tags i18n %}
{% load static from staticfiles %}
{% load wagtailsettings_tags wagtailimages_tags %}
{% get_settings %}

<!DOCTYPE html>
<html class="template-base">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% else %}{{ self.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
  {% image self.social_media_image width-300 as tmp_photo %}
  <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
  <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
  {% image self.social_media_image width-300 as tmp_photo %}
  <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
  <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>


  <!-- Base Bemplate style -->
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/template-base.css' %}">
  {% endcompress %}

  {% block extra_css %}{% endblock %}
  {% custom_css %}
  <!-- Google Fonts -->
  <script src="{% static 'js/webfont.js' %}"></script>
  <!-- Google Tag Manager -->
       <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M9FBNX"
       height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
       <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-M9FBNX');</script>
       <!-- End Google Tag Manager -->

       <script type="text/javascript">
              WebFontConfig = {
                google: { families: [ 'Exo+2:400,700:latin' ] }
              };
              (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
              })();
              /*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
            function loadJS( src, cb ){
              "use strict";
              var ref = window.document.getElementsByTagName( "script" )[ 0 ];
              var script = window.document.createElement( "script" );
              script.src = src;
              script.async = true;
              ref.parentNode.insertBefore( script, ref );
              if (cb && typeof(cb) === "function") {
                script.onload = cb;
              }
              return script;
            }
            // cut the mustard
            if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
              loadJS( "{% static 'js/main.js' %}" );
            }
            </script>

            {% compress css file enhanced %}
              <link rel="stylesheet" type="text/x-scss" href="{% static 'css/enhanced.scss' %}">
            {% endcompress %}
</head>

<body>
{% wagtailuserbar %}

  <div class="header">
    <a class="header__logo" href="/" >
      {% if settings.core.SiteSettings.logo %}
        {% image settings.core.SiteSettings.logo height-30 %}
      {% else %}
        {% get_site_name %}
      {% endif %}
    </a>
    <a class="header__link" href="{% if user.is_authenticated %}{% url 'molo.profiles:view_my_profile' %}{% else %}{% url 'molo.profiles:auth_login' %}{% endif %}">
      <img alt="" height="20px" src="{% static 'img/profile-2.png' %}">
    </a>
    <label class="header__link header__link--button" for="menu-toggle">{% trans "Menu" %}</label>
  </div>

  <div class="section-nav">
    <input type="checkbox" id="menu-toggle" />
    <ul class="section-nav__items">
        <li class="section-nav__item"><a href="/">{% trans "Home" %}</a></li>
        {% load_sections as sections %}
        {% for section in sections %}
        <li class="section-nav__item"><a href="{% pageurl section %}">{{ section.title }}</a></li>
        {% endfor %}
    </ul>
  </div>

  {% block breadcrumbs %}
    {% breadcrumbs %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block extra_js %}
  {% endblock %}

  {% block search %}
    {% if languages %}
      {% include "search/search_block.html" %}
    {% endif %}
  {% endblock %}



  <!-- footer block -->
  {% block footer %}
  <div class="block-footer no-fb-body">
    <p>&copy; 2016 <span id="printsitelabel2"><strong>{% get_site_name %}</strong></span> | All rights reserved.</p>
    {% if languages %}
      <strong>{% trans "Site Language:" %}</strong>
      {% for language in languages %}
        <a href="{% url 'locale_set' language.locale %}?next={{request.path}}">{{language}}</a>&nbsp;
      {% endfor %}
    {% endif %}
    {% footer_page %}
  </div>
  {% endblock %}
  <!-- end footer block -->

</body>
</html>
