<!-- Free Basics Custom CSS
  Group by relation
-->
<style type="text/css">

.custom-template-container *:not(.custom-template-container__no-font) {
  font-family: {{body_font_family}};
}
/*
  MENU
*/

/*Navigation styles*/
.section-nav-list, /*Mainly for Test*/
.fb-body .base-bcolor {
  font-family: {{block_font_family}};
  background-color: {{block_background_color}};
}

/*Find where this is used*/
.section-nav-list__title {
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
  border-radius: 3px 3px 0px 0px;
}


/*
  LATEST ARTICLE
  SECTION LISTING
  BUTTONS

  All buttons
*/
.fb-body .block-heading, /*Mainly for Test*/
.article-list__heading--latest,
.section-list__heading,
.heading--profiles,
.heading--comment,
.heading--polls,
.heading--yourwords,
.surveys__title,
.heading--search,
.heading--article  {
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
  border-radius: 3px 3px 0px 0px;
}
.heading--hero-yourwords {
  background: transparent;
}

/*
  HOMEPAGE ARTICLES LIST
  SECTION ARTICLE LIST
  LATEST ARTICLES LIST
*/
.section-list__heading,
.latest-section-list__heading {
  color: {{accent_1}};
}

.article-list__heading {
  color: {{accent_2}};
}

.article-list__heading__link,
.call-to-action__item-text-see-more,
.call-to-action__item-text-read-more {
  color: {{accent_2}};
}

/*
  BREADCRUMBS
*/
.breadcrumbs {
  font-family: {{body_font_family}};
}
.breadcrumbs__anchor,
.breadcrumbs__anchor:after {
  color: {{accent_2}};
}

/*
  ARTCILE PAGE
*/
.heading--article,
.heading--polls,
.heading--yourwords,
.article__title,
.surveys__title,
.heading--search {
  color: {{accent_1}};
}

input[type="submit"],
.call-to-action__nav-item {
  background-color: {{block_background_color}};
  color: {{accent_1}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
}


/*
  COMMENTS
*/
.heading--comment {
  color: {{accent_1}};
}
.comment__author {
  color: {{accent_2}};
}

/*
  POLLS
  SEARCH
*/
.choice-result__percent-bar,
.pagination__link {
  color: {{accent_2}};
}

.search--result__section-title,
.search--result__article-title,
.call-to-action__nav-item--view-more {
  color: {{accent_2}};
}
</style>
