<style type="text/css">
.fb-body .base-bcolor{
  background-color: {{body-background-color}};
  border: 1px solid {{body-background-color}};
}
.fb-body .block-heading{
  background-color: #dfdfdf;
  font-family:"Bangers", Helvetica, sans-serif;,
  text-transform: uppercase;
  border-radius: 3px 3px 0px 0px;
}
.fb-body .fb-accent-1{
  color: #69269d;
}
.fb-body .fb-accent-2{
  color: #c736c0;
}
.fb-body, .fb-body *:not(.no-fb-body){
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}
</style>
