<!-- Free Basics Custom CSS -->
<style type="text/css">
.fb-body .base-bcolor {
  background-color: {{body_border_color}};
  border: 1px solid {{body_border_color}};
}
.fb-body .block-heading,
.heading--profiles,
.surveys__title {
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
  border-radius: 3px 3px 0px 0px;
}
.section-nav__items{
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
}

.call-to-action__nav-item,
.call-to-action__nav-item--surveys,
.call-to-action__nav-item--login,
.call-to-action__nav-item--polls,
.call-to-action__nav-item--back-home,
.search-form input[type="submit"],
.polls-form input[type="submit"],
.btn-wide input[type="button"] {
  background-color: {{block_background_color}};
  color: {{accent_1}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
}
.flatbutton{
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
  border-radius: 3px 3px 3px 3px;
}
.flatbutton-input{
  background-color: {{block_background_color}};
  font-family: {{block_font_family}};
  text-transform: {{text_transform}};
  border-radius: 3px 3px 3px 3px;
}
.flatbutton-input:hover {
  background-color: {{accent_2}};
}
.flatbutton:hover{
  background-color: {{accent_2}};
}
.fb-body .fb-accent-1{
  color: {{accent_1}};
}
.fb-body .fb-accent-2{
  color: {{accent_2}};
}
.fb-body .block-heading-sub-cat{
  border-color: {{block_background_color}};
  color: {{accent_2}};
}
.fb-body, .fb-body *:not(.no-fb-body){
  font-family: {{body_font_family}};
}

.call-to-action__nav-item,
.flatbutton-input {
 background-color: #dfdfdf;
 &:hover {
    background-color: #c736c0;
  }
}

</style>
