{% extends "base.html" %}
{% load static core_tags i18n poll_votings %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a class="breadcrumbs__anchor" href="/">{% trans "Home" %}</a>
    <span class="breadcrumbs__anchor-is-active">{{ question.title }}</span>
  </div>
{% endblock %}

{% block content %}
<div class="polls">
	<h1 class="heading--polls">{{ question.title }}</h1>
	{% if form.choice.errors %}
    <h3 class="sub-heading--polls">{{form.choice.errors|join:", " }}</h3>
  {% endif %}
	<form action="{% url 'molo.polls:vote' question.id %}" method="post" class="polls__form">
	{% csrf_token %}
    {% load_choices_for_poll_page question as choices %}
		{% for choice in choices %}
		<fieldset class="form-group">
			{% if question.get_main_language_page.allow_multiple_choice %}
				<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}" />
				<label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
			{% else %}
				<label for="choice{{ forloop.counter }}">
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}">
				{{ choice.title }}</label>
			{% endif %}
		</fieldset>
		{% endfor %}
		<input type="submit" value="{% trans "Vote" %}"/>
		</form>
	</div>
{% endblock %}
