{% extends "base.html" %}
{% load static core_tags i18n %}

{% block content %}
<div class="block-poll fb-body fb-card">

	<h6 class="block-heading fb-accent-1">{{ question.title }}</h6>
		{% if form.choice.errors %}<h3><strong>{{form.choice.errors|join:", " }}</strong></h3>{% endif %}
		<form action="{% url 'molo.polls:vote' question.id %}" method="post">
			{% csrf_token %}
			{% for choice in question.choices %}
			<div class="form-group">
					{% if question.allow_multiple_choice%}
						<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
						<label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
					{% else %}
						<label for="choice{{ forloop.counter }}">
						<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
						{{ choice.title }}</label>
					{% endif %}
				</div>
			{% endfor %}
			<div>
				<input type="submit" value="{% trans "Vote" %}" class="flatbutton-input"/>
			</div>
		</form>
	</div>
{% endblock %}
