{% extends "base.html" %}
{% load static core_tags i18n poll_votings %}

{% block breadcrumbs %}
<div class="breadcrumbs fb-body">
    <span><a class="fb-accent-2" href="/">{% trans "Home" %}</a></span> &gt;
    <span class="active">{{ question.title }}</span>
</div>
{% endblock %}

{% block content %}
<div class="block-poll fb-body fb-card">

	<h6 class="block-heading fb-accent-1">{{ question.title }}</h6>
		{% if form.choice.errors %}<h6 class="sub-heading">{{form.choice.errors|join:", " }}</h6>{% endif %}
		<form action="{% url 'molo.polls:vote' question.id %}" method="post">
			{% csrf_token %}
      {% load_choices_for_poll_page question as choices %}
			{% for choice in choices %}
			<div class="form-group">
					{% if question.get_main_language_page.allow_multiple_choice %}
						<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}" />
						<label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
					{% else %}
						<label for="choice{{ forloop.counter }}">
						<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.get_main_language_page.id }}">
						{{ choice.title }}</label>
					{% endif %}
				</div>
			{% endfor %}
			<div class="button-div">
				<input type="submit" value="{% trans "Vote" %}" class="flatbutton-input fb-accent-1"/>
			</div>
      <br/>
		</form>
	</div>
{% endblock %}
