{% extends "base.html" %}
{% load static core_tags i18n %}

{% block content %}
<div class="block-poll fb-body fb-card">
	<h6 class="block-heading fb-accent-1">{{ question.title }}</h6><br>
	<div class="form-group">
		{% if form.answer.errors %}<p><strong>{{form.answer.errors|join:", " }}</strong></p>{% endif %}
		<form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post" class="free-text-form polls-form">
			{% csrf_token %}
			{{form.answer}}
			<br>
			<input type="submit" value="{% trans "Submit" %}"/>
		</form>
	</div>
</div>
{% endblock %}
