{% extends "base.html" %}
{% load static core_tags i18n %}

{% block content %}
<div class="polls">
	<h6 class="heading--polls">{{ question.title }}</h6><br>
		{% if form.answer.errors %}
    <h3 class="sub-heading--polls">
      {{form.answer.errors|join:", " }}
    </h3>
    {% endif %}
		<form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post" class="polls__form">
      <fieldset>
  			{% csrf_token %}
  			{{form.answer}}
			</fieldset>
			<input type="submit" value="{% trans "Submit" %}"/>
		</form>
</div>
{% endblock %}
