{% load i18n static poll_votings %}

{% block content %}
	{% if questions %}
	<div class="polls polls--homepage">
		<h1 class="heading heading--polls">{% trans "What's your opinion?" %}</h1>
		<ul class="polls-question-list">
		{% for question in questions %}
    	<h2 class="polls__question--title">{{ question.title }}</h2>
			{% if forloop.first%}{% endif %}
			<li class="polls-question-list__item">
				{% if question.freetextquestion %}
					{% include 'polls/includes/poll_free_text_form.html'%}
				{% else %}
					{% include 'polls/includes/poll_question_form.html'%}
				{% endif %}
		  </li>
		{% endfor %}
	 </ul>
</div>
	{% endif %}
{% endblock %}
