{% load i18n static poll_votings %}

{% block content %}
	{% if questions %}

		      <div class="fb-card block-poll">
		<h6 class="block-heading fb-accent-1">{% trans "What's your opinion?" %}</h6>
		<ul>
		{% for question in questions %}
			{% if forloop.first%}
			{% endif %}
			<li>
				<h6 class="sub-heading">{{ question.title }}</h6>
				{% if question.freetextquestion %}
					{% include 'polls/includes/poll_free_text_form.html'%}
				{% else %}
					{% include 'polls/includes/poll_question_form.html'%}
				{% endif %}
		</li>
		{% endfor %}
	</ul>

	</div>
	{% endif %}
{% endblock %}
