
.comments {
  p {
    padding: 0 15px;
  }
}
.comment__form {
  padding: 0 15px;
  color: #000;
}



.comment__title {
  padding: 0 15px;
}
.comment__text {
  font-size: 14px;
  margin: 0;
  padding: 0 40% 0 15px;
  display: inline-block;
}
.comment__counter {
  padding: 0 0 0 15px;
  text-decoration: none;
  font-weight: bold;
}
.comment__counter--plural {
  padding: 0;
  font-weight: normal;
  text-transform: capitalize;
}
.comment-list__item {
  padding: 0 15px 10px;
  border-bottom: 1px solid #eee;
  .call-to-action__nav-item--response {
    margin: 0;
  }
}
.comment__description {
  padding: 10px 15px 0;
  font-size: 14px;
  margin: 0;
}
