.search {
  margin: 7px 0;
  background-color: #fff;
  padding-bottom: 8px;
  overflow: auto;
  @media screen and (min-width:320px) {
    margin: 7px;
    border-radius: 3px;
  }
  .call-to-action__nav-item--view-more {
    margin: 10px 0;
  }
}

.search__form {
  text-align: center;
  input[type="text"] {
    padding: 8px 25px 8px 5px;
    margin: 0 auto;
    @media screen and (min-width: 320px) {
      width: auto;
    }
  }
  .call-to-action__item--search {
    padding: 10px 5px;
    @media screen and (min-width: 320px) {
      padding: 8px 20px;
    }
  }
}
.search-results {
  &__list,
  .sub-heading--search {padding: 0 15px;}
  .search--result__article-title {margin: 0;}
  .search--result__article-title-highlight,
  .highlight-description {
    font-style: italic;
  }
}
.call-to-action__item--search {
  display: block;
  margin: 7px auto;
  width: 95%;
  @media screen and (min-width: 320px) {
    display: inline-block;
    width: auto;
  }
}
