.yourwords {
  background-color: #fff;
  @media screen and (min-width: 320px) {
    margin: 7px;
    border-radius: 3px;
  }
  img {width: 100%;}
  .heading-container {img {width: 100%;}}
  &--inner-content {padding: 0 15px;}
  &-form {
    padding: 20px 10px 0;
    label {display: inline;}
  }
}
//INDEX YOURWORDS
.heading--yourwords {
  font-size: 15px;
  margin: 5px 0;
  padding: 10px 15px;
  @media screen and (min-width: 320px) {
    border-radius: 3px 3px 0 0;
  }
  &-subtitle {
    font-size: 15px;
    margin: 0;
    padding: 0 15px;
  }
  &-description {padding: 0 15px;}
}
.competition__title  {
  padding: 0 15px;
  &--description {margin: 0;}
}

//SECTION YOURWORDS
.section-list {
  .heading--hero-yourwords {
    font-size: 14px;
    padding: 10px 15px;
    @media screen and (min-width: 320px) {
      border-radius: 0;
    }
  }
  .heading--yourwords-subtitle,
  .heading--yourwords-description ,
  .competition__title {
    padding: 0 10px;
  }
}
