body {
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

ul, ol, li {
  list-style: none;
  margin:0;
  padding:0;
}

.unordered-list, .ordered-list {
  margin: 1em 0;
}
.unordered-list, .unordered-list__item,
.ordered-list, .ordered-list__item {
  padding: 0 15px;
}
.unordered-list, .unordered-list__item {
  list-style-type: disc;
}

.ordered-list, .ordered-list__item {
  margin: auto;
  list-style-type: decimal;
}

fieldset {
  border: none;
  padding: 10px 0 0;
}

label {
  font-size: $font-small;
  font-weight: bold;
  display: block;
}

label[for="id_terms_and_conditions"] {
  display: inline-block;
}

.alert-error {
  color: red;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
  padding: 8px 15px 8px 5px;
  width: 90%;
  border: 1px solid #eeeeee;
  margin: 5px 0;
}

input[type="checkbox"],
input[type="radio"] {
  font-size: 20px;
  padding: 0;
}

textarea {
  padding: 5px;
  width: 95%;
}

select {
  height: 25px;
  width: 100%;
}
input[type="submit"] {
  display: inline-block;
  margin: 10px 15px 10px 0;
  padding: 12px 15px;
  word-break: keep-all;
  border-radius: 3px;
  border: none;
  color: #000;
  font-size: $font-x-small;
  text-decoration: underline;
  @media screen and (min-width: 320px) {
    text-decoration: none;
    color: #c736c0;
  }
  &:hover {
    background-color:#c736c0;
    color: #000;
  }
}
