@import "variables/_variables";

@import "_base";
@import "layout/_layout";
@import "modules/_modules";
@import "state/_state";
@import "versions";



/* TODO: Remove this. */
.row:after, .row:before, .container-fluid:after, .container-fluid:before{
  display: table;
  content: " ";
}

/* TODO: This is terrible?! */
p,h6 {
  margin: 0
}

h6 {
  font-size:13px;
}

.active {
  color: #696969;
  text-decoration: underline;
}


//Homepage
.custom-template-container {}
.custom-template-container__content {
  background-color: #efefef;
  overflow: auto
}

/*
To Be Deleted
default colors*/
.fb-card {
  margin: 7px 0;
  background-color: #fff;
  @media screen and (min-width:320px) {
    margin: 7px;
    border-radius: 3px;
  }
}

.no-fb-card {
  background-color: #fff;
}


.base-bcolor {
  background-color: #efefef;
}

.fb-body .fb-accent-1 {
  color: #69269d;
}
.fb-body .fb-accent-2{
  color: #c736c0;
}

.padding-no-top{
  padding: 0px 15px 15px 15px;
}
