
@media screen and (min-width: 221px) {
  .block-search input[type="text"] {
    display: inline;
    width: 68%;
    margin: 0;
  }
  .block-search input[type="submit"] {
    display: inline;
    width: 30%;
    margin: 0;
    padding: 10px 0;
  }
}