
.block-category ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

.block-category a{
  text-decoration: none;
  text-transform: capitalize;
}

.see-more{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: initial;
}

.link-button {
  margin-top: 10px;
  font-size: 13px;
  text-decoration: underline;
}
.sub-heading{
  padding: 15px 15px 10px 15px;
}
.checkbox, .radio {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
}
.radio label{
  font-weight: 300;
  line-height: 22px;
}



/* SECTION NAVIGATION */
.section-nav input {
  display: none;
}
.section-nav input + * {
  display: none;
}
.section-nav input:checked + * {
 display: block;
}
.section-nav__items {
  font-size: 13px;
  margin: 0;
  background: #fff;
  padding: 0;
  list-style-type: none;
}
.section-nav__item {
  padding: 8px 16px;
  border-bottom: 1px #eee solid;
}
.section-nav__item a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.section-nav__item a:after {
  content: ">";
  display: inline-block;
  float: right;
}
