.block-poll .form-group{
  padding: 0px 15px 15px 15px;
  margin-bottom: 0;
}
.block-poll p{
  font-size: 12px;
  line-height: 15px;
}
.post-comment textarea{
  box-sizing: border-box;
  width: 100%;
}
.block-poll ul{
  list-style: none;
  margin:0;
  padding:0;
}
.block-poll li{
  border-bottom: 1px solid #eeeeee;
  padding: 15px 15px;
}
.block-poll li:last-child{
  border-bottom: none;
}