.signin-form form {
  padding-top:10px;
}
.signin-form p {
  padding-bottom:5px;
}
.signin-form a {
  font-size:12px;
}
.signin-form input[type="text"], 
.signin-form input[type="password"], 
.signin-form input[type="email"], 
.signin-form input[type="tel"]{
  padding:5px;
  box-shadow:none;
  margin-bottom:15px;
  border: 1px solid #eeeeee;
}

.free-text-form input[type="text"], 
.free-text-form input[type="number"], 
.free-text-form input[type="email"] {
  width:100%;
  height: 2em;
}

.step-links a {
  text-decoration: none;
}

ul.errorlist {
  padding: 0;
  margin-bottom: 16px;
  li {
    display: inline-block;
  }
}

.error, .errorlist {
  color: #ff4b4b !important;
  list-style: none;
  margin: 0;
  display: block;
  padding: 0;
  li {
    display: inline-block;
  }
}

.error:before, .errorlist li:before, p.errorlist:before {
  content: " ";
  display: inline-block;
  background: red;
  width: 16px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAB3ElEQVR4nL2Wr2+rUBiGHw5VkLQNTerGP0DwiCr01IJAzC6pnJ9YEPjJJrMIBJmaRuOb/gNdZppA2iatgnAFu13vTVfoD/aoL+Q973sOOV/OJ5VlyRGKgumUJGE+J8tIUyQJTUPT0HUsC9NElo8YSD8GrFaEIXHMZnNsB6qKbeO69HqNA/KcKOLtje32mPU+isLdHY5Dp1MXsF7j+8xmTa33MQyenuh2fw74+OD5mcXiHPeK4RDP4+bmUMB6zePjRe67jJeX3TnE19c8x/ev4A4sFvg+ef5vQBSd+d8PMpsRRVUplWXJasXDQ/2deX//rm9va8SKwusrvZ4ACMMTbmRDtlvCEBAUBXF8ZfeKOKYoBNNpTa+ezWbDdCpIklbcK5JEMJ+3GDCfC9K0xYA0FWRZiwFZJupFlyBJAk1rMUDTOgwGfH42Utd276EAga6fvKw5ui6wrKbq0YggIAgYjZousSyBaaKqjdTjMf0+/T7jcSO9qmKaAlnGtpvu6CRsG1kWAK6LotQvmExYLlkumUzqxYqC6/L9ZIYhQXDRfv/j/r4K+NtojoNhXM3dMHCcqvy1Rx/odvE8hsNL3T1vfzT65cGrot3RcUeLw+8+++N7mn49HprGYNBwfP8DIHXTMe4wtWYAAAAASUVORK5CYII=');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: middle;
}

