.block-search {
  padding-bottom: 8px;
  overflow: auto;
}
.block-search form {
  text-align: center;
}
.block-search input[type="text"] {
  padding: 8px 5px;
  width: 100%;
  border: 1px solid #eeeeee;
  margin: 0 0 8px 0;
}
.block-search input[type="submit"] {
  width: 90%;
  margin: 0 auto;
}

.block-search ul{
  list-style: none;
  margin:0;
  padding:0;
}

.block-search li{
  border-bottom: 1px solid #eeeeee;
  padding: 15px 15px;
}