{% load i18n molo_commenting_tags %}
<div class="nav {{self.get_parent_section.get_effective_extra_style_hints}} {% if node.user.is_staff %}staff{% endif %}">
  <p class="fb-accent-1"><strong>{{node.user_name}}</strong> <span class="date">{{node.submit_date|date:"j F Y"}}</span></p>
  {% if node.is_removed %}
    <p>{% trans "This comment has been removed by the community. Please read our platform rules." %}</p>
  {% else %}
    <p>{{node.comment}}</p>
    <p class="fb-accent-1"><a href="{% url 'molo.commenting:molo-comments-report' node.pk %}?next={% url 'molo.commenting:report_response' node.pk %}" style="padding-left: 0px;">{% trans "Report" %}</a></p>
  {% endif %}
</div>
<hr>
