{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}


{% get_comments_content_object for form as self %}

{% block breadcrumbs %}
<div class="breadcrumbs fb-body">
    <span><a class="fb-accent-2" href="/">{% trans "Home" %}</a></span> &gt;
    <span><a class="fb-accent-2" href="{% pageurl article %}">{{ article.title }}</a></span> &gt;
    <span class="active">Report page</span>
</div>
{% endblock %}

{% block content %}
<div class="fb-body fb-card fb-card--{{article.get_parent_section.get_effective_extra_style_hints}}">
    <h3 class="block-heading fb-accent-1">{% trans "Thanks!" %}</h3>
    <div class="comment-heading">
      <p class="subheading subheading--comment">{% trans "This comment has been reported." %}</p>
      <p><a href="{% pageurl article %}">{% trans "It will be reviewed by the team and may be removed if it breaks our Platform rules" %}</a></p>
    </div>
    <br/>
</div>
  <a href="{% pageurl article %}" class="call-to-action__nav-item call-to-action__nav-item--back-home">{% trans "Back to article" %}</a>
{% endblock %}
