{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}


{% get_comments_content_object for form as self %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
      <a class="breadcrumbs__anchor" href="/">{% trans "Home" %}</a></li> &gt;
  <li class="breadcrumbs__item">
      <a class="breadcrumbs__anchor" href="{% pageurl article %}">{{ article.title }}</a></li> &gt;
  <li class="breadcrumbs__item breadcrumbs__is-active">
    <span class="active">Report page</span>
  </li>
</ul>
{% endblock %}

{% block content %}
  <div class="comments comments{{article.get_parent_section.get_effective_extra_style_hints}}">
      <h1 class="heading heading--comment">{% trans "Thanks!" %}</h3>
      <h6 class="heading comment__description">{% trans "This comment has been reported." %}</h6>
      <p><a href="{% pageurl article %}" class="comment-heading__anchor">{% trans "It will be reviewed by the team and may be removed if it breaks our Platform rules" %}</a></p>
      </div>
  </div>
  <a href="{% pageurl article %}" class="call-to-action__nav-item call-to-action__nav-item--back">
    {% trans "Back to article" %}
  </a>
{% endblock %}
