{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}


{% get_comments_content_object for form as self %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a class="breadcrumbs__anchor" href="/">{% trans "Home" %}</a>
  <a class="breadcrumbs__anchor" href="{% pageurl article %}">{{ article.title }}</a>
  <span class="breadcrumbs__is-active">Report page</span>
</div>
{% endblock %}

{% block content %}
  <div class="comments comments{{article.get_parent_section.get_effective_extra_style_hints}}">
      <h1 class="heading heading--comment">{% trans "Thanks!" %}</h3>
      <h3 class="comment__description">{% trans "This comment has been reported." %}</h3>
      <div class="comments__inner-content">
        <p>{% trans "It will be reviewed by the team and may be removed if it breaks our Platform rules" %}</p>
      </div>
      </div>
  </div>
  <a href="{% pageurl article %}" class="call-to-action__nav-item call-to-action__nav-item--back">
    {% trans "Back to article" %}
  </a>
{% endblock %}
