
.call-to-action__nav-item,
.flatbutton-input {
 background-color: #dfdfdf;
 &:hover {
    background-color:#c736c0;
  }
}


.call-to-action__text-item--dir-left,
.call-to-action__nav-item--back-home {
  background-color: transparent;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
