
.block-footer{
  color: #000;
  background-color: #eeeeee;
  padding: 1px 5px 5px 5px;
  font-size: 11px;
  text-align: center;
}
.block-footer li, a{
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.block-footer li, a{
  text-decoration: none;
  list-style-type: none;
}

