{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles">
	<h1 class="heading--profiles">{% trans "Edit Profile" %}</h1>
	<form method="post" id="frmProfileEdit" action="{% url 'molo.profiles:edit_my_profile' %}" class="profiles__form">
  {% csrf_token %}

  <fieldset>
		<label for="id_alias">{% trans "Type new display name:" %}</label>
		{{ form.alias }}
  </fieldset>

  <fieldset>
    <label for="id_date_of_birth_year">{% trans "Update your date of birth:" %}</label>
    {{ form.date_of_birth }}
  </fieldset>

  <fieldset>
		{% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
    <label for="id_mobile_number">{% trans "Update your mobile number:" %}</label>
    {{ form.mobile_number.errors }}
    {{ form.mobile_number }}
		{% endif %}
  </fieldset>

  <fieldset>
		{% if settings.profiles.UserProfilesSettings.show_email_field %}
    <label for="id_email">{% trans "Update your email address:" %}</label>
    {{ form.email.errors }}
    {{ form.email }}
		{% endif %}
  </fieldset>
		<input type="submit" value='{% trans "Update profile" %}'>
	</form>
</div>

{% endblock %}
