{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profile">
<div class="block-default fb-body fb-card">
	<div class="block turq">
		<h6 class="block-heading fb-accent-1">{% trans "Edit Profile" %}</h6><br>
		<div class="padding-no-top">
		<form class="signin-form" method="post" id="frmProfileEdit" action="{% url 'molo.profiles:edit_my_profile' %}">{% csrf_token %}
			<p>{% trans "Type new display name:" %}</p>
			{{ form.alias }}
      <p>{% trans "Update your date of birth:" %}</p>
	      {{ form.date_of_birth }}<br><br>
				{% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
		      <p>{% trans "Update your mobile number:" %}</p>
			      {{ form.mobile_number.errors }}
			      {{ form.mobile_number }}
				{% endif %}
				{% if settings.profiles.UserProfilesSettings.show_email_field %}
		      <p>{% trans "Update your email address:" %}</p>
			      {{ form.email.errors }}
			      {{ form.email }}
				{% endif %}

				<br>
			<input type="submit" value='{% trans "Update profile" %}' class="flatbutton fb-accent-1">
		</form>
	</div>
	</div>
</div>
</div>

{% endblock %}
