{% extends "base.html" %}
{% load i18n static core_tags %}

{% block content %}
<div class="block-default fb-body fb-card">
    <h6 class="block-heading fb-accent-1">{% trans "Join" %}</h6>
    <div class="signin-form padding15 fb-body">
      <p>{% trans "Not a member yet? Join us by signing up below." %}</p>
      <form method="post" action="{% url 'molo.profiles:user_register' %}">{% csrf_token %}
          <p><strong>{% trans "Choose a username" %}</strong></p>
          {{ registration_form.username.errors}}
          {{ registration_form.username }}

          <p><strong>{% trans "Choose a password" %}</strong></p>
          {{ registration_form.password.errors}}
          {{ registration_form.password }}
          <br>
          <input type="submit" class="flatbutton block-heading fb-accent-1" value='{% trans "JOIN" %}' />
          <input type="hidden" name="next" value="{% url 'molo.profiles:registration_done' %}" />
          <a href="{% url 'molo.profiles:auth_login' %}" class="button inverted">{% trans "already joined?" %}</a>
      </form>
    </div>
  </div>
{% endblock %}
