{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles">
  <h6 class="heading heading--profiles">{% trans "Hello " %}{{ user.username }}</h6>
  <fieldset>
    <label>
      <label>{% trans "Display Name: " %}</label>
      <p class="profile__alias">{{ user.profile.alias | default:'Anonymous' }}</p>
  </fieldset>

  <fieldset>
    <label>{% trans "Date of Birth: " %}</label>
    <p class="profile__dob">{{ user.profile.date_of_birth | date:"M d, Y" }}</p>
  </fieldset>

  <fieldset>
    <label>{% trans "Mobile Number: " %}</label>
    <p class="profile__mobile-number">{{ user.profile.mobile_number | default:' '}}</p>
  </fieldset>

  <fieldset>
    <label>{% trans "Email Address: " %}</label>
    <p class="profile__email">{{ user.email | default:' '}}</p>
  </fieldset>

  <div class="call-to-action call-to-action--profile call-to-action--view-profile">
    <a href="{% url "molo.profiles:auth_logout" %}" class="call-to-action__nav-item call-to-action__nav-item--logout">{% trans "log out" %}</a>

    <a href="{% url "molo.profiles:edit_my_profile" %}" class="call-to-action__nav-item call-to-action__nav-item--editprofile">{% trans "Edit My Profile" %}</a>

    <a href="{% url "molo.profiles:profile_password_change" %}" class="call-to-action__nav-item call-to-action__nav-item--change-password">{% trans "Change My Password" %}</a>
  </div>
</div>
{% endblock %}
