{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profile profile--view-edit">
  <div class="block-default fb-body fb-card">
    <h6 class="block-heading fb-accent-1">{% trans "Hello " %}{{ user.username }}</h6>
    <fieldset class="profile__user-info">
      <label class="label-wide">{% trans "Display Name: " %}{{ user.profile.alias | default:'Anonymous' }}</label>
      <label class="label-wide">{% trans "Date of Birth: " %}{{ user.profile.date_of_birth | date:"M d, Y" }}</label>
      <label class="label-wide">{% trans "Mobile Number: " %}{{ user.profile.mobile_number | default:' '}}</label>
      <label class="label-wide">{% trans "Email Address: " %}{{ user.email | default:' '}}</label>
    </fieldset>
      <a href="{% url 'molo.profiles:auth_logout' %}" class="btn btn-wide">
        <input type="button" value='{% trans "Logout" %}'/>
      </a>

      <a href="{% url 'molo.profiles:edit_my_profile' %}" class="btn btn-wide">
        <input type="button" value='{% trans "Edit My Profile" %}'/>
      </a>
      
      <a href="{% url 'molo.profiles:profile_password_change' %}" class="btn btn-wide">
        <input type="button" value='{% trans "Change My Password" %}'/>
      </a>
  </div>
</div>
{% endblock %}
