
{% load wagtailcore_tags wagtailimages_tags %}

{% if bannerpages %}
{% for bannerpage in bannerpages %}
  {% if bannerpage.banner %}
    {% if bannerpage.banner_link_page %}
          <div class="fb-card banner-container">
      <a href="{% pageurl bannerpage.banner_link_page %}">
        {% image bannerpage.banner width-320 as tmp_photo %}
        <img class="block-banner" src="{{ tmp_photo.url }}" alt="{{ bannerpage.banner.title }}"/>
      </a>
    </div>
     {% elif bannerpage.external_link %}
          <div class="fb-card banner-container">
      <a href="{{ bannerpage.external_link }}">
        {% image bannerpage.banner width-320 as tmp_photo %}
        <img class="block-banner" src="{{ tmp_photo.url }}" alt="{{ bannerpage.banner.title }}"/>
      </a>
    </div>
    {% else %}
              <div class="fb-card banner-container">
        {% image bannerpage.banner width-320 as tmp_photo %}
        <img class="block-banner" src="{{ tmp_photo.url }}" alt="{{ bannerpage.banner.title }}"/>
      </div>
    {% endif %}
  {% endif %}
{% endfor%}
{% endif %}
