
{% load wagtailcore_tags wagtailimages_tags %}

{% if homepages %}
{% for homepage in homepages %}
<div class="header">
  {% if homepage.banner %}
    {% if homepage.banner_link_page %}
    <div class="block-banner no-fb-body fb-card">
      <a href="{% pageurl homepage.banner_link_page %}">
        {% image homepage.banner width-320 as tmp_photo %}
        <img class="block-img" src="{{ tmp_photo.url }}" alt="{{ homepage.banner.title }}"/>
      </a>
    </div>
    {% else %}
      <div class="block-banner no-fb-body fb-card">
        {% image homepage.banner width-320 as tmp_photo %}
        <img class="block-img" src="{{ tmp_photo.url }}" alt="{{ homepage.banner.title }}"/>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endfor%}
{% endif %}
