{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
<div class="section-list section-list--latest">
    {% for article in articles %}
    <ul class="article-list">
      <li class="article-list__item">
        <h2 class="heading article-list__heading article-list__heading--latest">
          <a href="{% pageurl article %}" class="article-list__heading__link">{{article.title}}</a>
        </h2>
        <div class="article-list__inner-content">
          {% if article.image %}
            {% image article.image width-100 as tmp_photo %}
            <img src="{{ tmp_photo.url }}" alt="{{ article.image.title }}" class="article-list__image" />
          {% endif %}
          <h3 class="article-list__subtitle">{{article.subtitle}}</h3>
          <div class="article-list__excerpt">
            <p>{{article.body|striptags|truncatewords:30}}</p>
          </div>
          <a href="{% pageurl article %}" class="call-to-action__item-text-read-more">
            {% trans "Read More" %}
          </a>
        </div>
      </li>
    </ul>
    {% endfor %}
</div>

{% endif %}
