
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
  {% for article in articles %}
  <div class="block-article fb-body fb-card">
    <h6 class="block-heading fb-accent-1"><a href="{% pageurl article %}" class="no-underline">{{article.title}}</a></h6>

    {% if article.image %}
    {% image article.image width-100 as tmp_photo %}
    <img class="block-img" src="{{ tmp_photo.url }}" alt="{{ article.image.title }}"/>
    {% endif %}
    <h6 class="sub-heading">{{article.subtitle }}</h6>

    <p>{{article.body|striptags|truncatewords:30}}
    <br>
    <br>
    <a href="{% pageurl article %}" class="fb-accent-2 link-button">{% trans "Read More" %}</a>
    </p>
  </div>
  {% endfor %}
{% endif %}
