{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}

{% if sections %}
{% for section in sections %}
<div class="block-category fb-body fb-card {{section.get_effective_extra_style_hints}}">

  <h6 class="block-heading fb-accent-1">{{section.title}}
    <a href="{% pageurl section %}" class="pull-right see-more fb-accent-2">See more</a>
  </h6>

  <ul>
  {% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
  {% for article in featured_articles %}
    <li class="block-article block-article--in-list">
      <h6 class="block-article__title fb-accent-2">
        <a href="{% pageurl article %}" class="fb-accent-2">{{article.title}}</a>
      </h6>
      <div class="block-article__subtitle">{{article.subtitle}}</div>
      <a href="{% pageurl article %}" class="fb-accent-2 block-article__read-more">{% trans "Read More" %}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endfor%}
{% endif %}
