{% load wagtailcore_tags wagtailimages_tags core_tags competition_tag i18n %}

{% if sections %}
{% for section in sections %}
<div class="section-list section-list{{section.get_effective_extra_style_hints}}">
  <h2 class="section-list__heading">
    {{section.title}}
    <a href="{% pageurl section %}" class="call-to-action__item-text-see-more">See more</a>
  </h2>

  <ul class="article-list">
  {% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
  {% for article in featured_articles %}
    <li class="article-list__item">
      <h3 class="article-list__heading">
        <a href="{% pageurl article %}" class="article-list__anchor">{{article.title}}</a>
      </h3>

      <!-- Only show "Read More" when the subtitle is shown. This avoids having listing of "title" + "readmore" only -->
      {% if article.subtitle %}
        <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
        <a href="{% pageurl article %}" class="call-to-action__item-text-read-more">
          {% trans "Read More" %}
        </a>
      {% endif %}

    </li>
  {% endfor %}
  </ul>
  {% your_words_competition_in_section section %}
</div>
{% endfor%}
{% endif %}
