
.flatbutton {
  border-radius:2px;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size: 12px;
  padding: 8px 22px;
  text-decoration:none;
  border: none;
  &:hover {
   color: $blue;
  }
}

.call-to-action__nav-item {
  cursor: pointer;
  font-size: 12px;
  padding: 10px 0;
  text-decoration: underline;
  text-align: left;
  display: inline-block;

  @media screen and (min-width:320px) {
    background: #dfdfdf;
    border: 15px;
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 15px 10px 15px;
    text-align: center;
    &:hover {
      background-color:#c736c0;
    }
  }
}

.call-to-action__text-item--dir-left,
.call-to-action__nav-item--back-home {
  margin: 0;
  background-color: transparent;
  &:before {
    content: "";
    padding-right: 10px;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "â®";
    }
  }
}
.see-more {
  display: block;
    @media only screen and (min-width: 320px) {
      display: inline;
      margin-top: 3px;
    }
}
