.breadcrumbs {
  background-color: #fff;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
  margin: 8px 0;
  @media screen and (min-width:320px) {
   padding: 5px 5px 0;
   margin: 8px;
   border-radius: 3px;
  }
}

.breadcrumbs__anchor {
  display: inline-block;
  &:after {
    content: " > ";
    color: #777;
    margin: 0 2px 0 5px;
    font-weight: 700;
  }
  &:last-child:after {
    content: " ";
    display: inline-block;
  }
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs__anchor-is-active {
  text-decoration: underline;
}
