
.flatbutton {
  border-radius:2px;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size: 12px;
  padding: 8px 22px;
  text-decoration:none;
  border: none;
  &:hover {
   color: $blue;
  }
}

.call-to-action__nav-item,
.flatbutton-input {
  text-transform: capitalize;;
  border-radius: 3px;
  display:inline;
  cursor:pointer;
  font-size: 12px;
  padding: 10px 22px;
  text-decoration:none;
  border: 15px;
  text-align: center;
  &:hover {
    color: $blue;
  }
}

.flatbutton-input:active {
  position:relative;
  top:1px;
}

.flatbutton:active {
  position:relative;
  top:1px;
}

.call-to-action__text-item--dir-left,
.call-to-action__nav-item--back-home {
  display: inline-block;
  margin: 0;
  background-color: transparent;
  &:before {
    content: "";
    padding-right: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "â®";
    }
    &:hover {
      text-decoration: none !important;
    }
  }
}
