
.flatbutton {
  border-radius:2px;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size: 12px;
  padding: 8px 22px;
  text-decoration:none;
  border: none;
  &:hover {
   color: $blue;
  }
}

.call-to-action__nav-item {
  background: #dfdfdf;
  border-radius: 3px;
  cursor:pointer;
  font-size: 12px;
  padding: 10px 22px;
  text-decoration: underline;
  border: 15px;
  text-align: center;
  display: inline-block;
  margin: 10px 15px 10px 15px; 
  &:hover {
    background-color:#c736c0;
    color: #000;
  }
  @media screen and (min-width:320px) {
    text-decoration: none;
    color: #c736c0;
  }
}

.call-to-action__text-item--dir-left,
.call-to-action__nav-item--back-home {
  margin: 0;
  background-color: transparent;
  &:before {
    content: "";
    padding-right: 10px;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "â®";
    }
  }
}
