
.block-category ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

.block-category a{
  text-decoration: none;
}

.see-more {
  text-decoration: none;
  font-size: 11px;
  font-weight: initial;
}


.sub-heading{
  padding: 15px 15px 10px 0;
}
.checkbox, .radio {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
}
.radio label{
  font-weight: 300;
  line-height: 22px;
}
