

.block-poll {
  .sub-heading {
    padding: 10px;
    @media screen and (min-width: 320px) {
      padding: 15px 15px 10px;
    }
  }
}

.block-heading {
  padding: 10px 15px;
  font-size: 15px;
  overflow: auto;
  text-transform: capitalize;
}

.block-heading-sub-cat {
  padding: 10px 15px;
  font-size: 15px;
}

.heading--profiles {
  padding: 10px 15px;
  margin: 0;
}

.heading--feeback-title {
  margin-bottom: 0;
}

.subheading--comment {
  padding-bottom: 5px;
}
