
.block-heading{
  padding: 10px 15px;
  font-size: 15px;
  overflow: auto;
  text-transform: capitalize;
}

.block-heading-sub-cat{
  padding: 10px 15px;
  font-size: 15px;
}

.heading--profiles {
  padding: 10px 15px;
  margin: 0;
}

.heading--feeback-title {
  margin-bottom: 0;
}
