.section-nav input {
  display: none;
}
.section-nav input + * {
  display: none;
}
.section-nav input:checked + * {
 display: block;
}

.section-nav-list {
  background: #fff;
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section-nav-list__item {
  padding: 8px 16px;
  border-bottom: 1px #eee solid;
}
.section-nav-list__anchor {
  text-decoration: none;
  font-size: 15px;
  display: block;
  color: #000;
  font-weight: bold;
  &:after {
    content: ">";
    display: inline-block;
    float: right;
  }
}
