
.polls {
  margin: 7px 0;
  background-color: #fff;
  @media screen and (min-width:320px) {
    border-radius: 3px;
    margin: 7px;
  }
  .heading--polls {
    margin: 0;
  }
}

.polls__form {
  padding: 0 15px;
  .call-to-action__nav-item {
    margin: 10px 0;
    padding: 10px;
    text-align: left;
  }
  label {
    display: inline-block;
    text-transform: capitalize;
    padding: 0 0 0 5px;
  }
}
.polls__question--title {
  padding: 0 15px;
}

.polls-question-list {
  padding: 0 15px;
}
.polls--homepage {
  .polls-question-list {
    padding: 0;
  }
}

.post-comment textarea {
  box-sizing: border-box;
  width: 100%;
}

.choice-result__percent {
  text-transform: capitalize;
}
