.block-search {
  padding-bottom: 8px;
  overflow: auto;

  input[type="submit"] {
    display: inline-block;
    padding: 8px 20px;
    @media screen and (320px) {
      display: block;
    }
  }

  form {
    text-align: center;
  }

  ul li{
    border-bottom: 1px solid #eeeeee;
    padding: 15px 15px;
  }
}

.search-form {
  input[type="text"] {
    width: auto;
    padding: 8px 35px 8px 5px;
  }
}
