
.footer {
  color: #000;
  background-color: #eeeeee;
  padding: 8px 5px 10px;
  font-size: 11px;
  text-align: center;
}
.footer__anchor {
  color: #000;
  padding: 0 3px;
  &:hover {
    text-decoration: underline;
  }
}
.footer__anchor-is-active {
  text-decoration: underline;
}



.footer-list {
  margin: 10px 0 0;
}
.footer-list__anchor {
  color: black;
  list-style-type: none;
  text-decoration: none;
}


.footer__subtitle {
  padding: 0 15px;
}
