
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags poll_votings static core_tags molo_survey_tags mptt_tags i18n %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="article-page article-page{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="heading heading--article">{{self.title}}</h1>
  <div class="article-list">
    {% if self.image %}
      {% image self.image width-274 as tmp_photo %}
      <img src="{{ tmp_photo.url }}" alt="{{ self.image.title }}" class="article__image"/>
    {% endif %}
    <h2 class="article-list__heading">{{self.subtitle }}</h2>
    {% social_media_article %}
    <article  class="article-content">
    {% for block in self.body %}
        {% if block.block_type == 'heading' %}
          <h3 class="heading article__title">{{ block.value }}</h3>

        {% elif block.block_type == 'image' %}
          {% image block.value width-274 as tmp_photo %}
          <img class="article__image" src="{{ tmp_photo.url }}" alt="{{ block.value.title }}"/>

        {% elif block.block_type == 'numbered_list' %}
          <ol class="ordered-list">
          {% for item in block.value %}
            <li class="ordered-list__item">{{ item|handle_markdown }}</li>
          {% endfor %}
          </ol>

        {% elif block.block_type == 'list' %}
          <ul class="unordered-list">
          {% for item in block.value %}
            <li class="unordered-list__item">{{ item|handle_markdown }}</li>
          {% endfor %}
          </ul>

        {% else %}
          {{ block }}
        {% endif %}
    {% endfor %}
    </article>
    {% if settings.core.SiteSettings.enable_clickable_tags %}
      <div class="tags">
        <ul class="tags-list">
          {% for tag in self.tags_list %}
            <li class="tags-list__item">
                <a href="{% url 'tags_list' tag %}" class="tag__item-anchor">{{tag}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  {% include "comments/comment_block.html" %}
</div>

<div class="polls-article">
  {% has_questions self as questions %}
  {% if questions %}
    {% poll_page_in_section page=self %}
  {% endif %}
</div>
{% surveys_list_for_pages page=self %}

{% endblock %}
