
{% extends "base.html" %}

{% load static core_tags molo_survey_tags %}
{% load wagtailcore_tags wagtailimages_tags poll_votings %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="fb-body fb-card {{self.get_parent_section.get_effective_extra_style_hints}}">

  <h6 class="block-heading fb-accent-1">{{self.title}}</h6>

  <div class="block-article">
    {% if self.image %}
    {% image self.image width-274 as tmp_photo %}
      <img class="block-article__image block-article__image--full-width" src="{{ tmp_photo.url }}" alt="{{ self.image.title }}"/>
    {% endif %}
    <h6 class="block-article__subtitle">{{self.subtitle }}</h6>

    <article  class="article-content">
    {% for block in self.body %}
        {% if block.block_type == 'heading' %}
          <h3 class="article-content__title fb-accent-1">{{ block.value }}</h3>
        {% elif block.block_type == 'image' %}
          {% image block.value width-274 as tmp_photo %}
          <img class="article-content__image" src="{{ tmp_photo.url }}" alt="{{ block.value.title }}"/>
        {% else %}
          {{ block }}
        {% endif %}
    {% endfor %}
    </article>
  </div>

  <div class="block-comments">
    {% include "comments/comment_block.html" %}
  </div>
</div>

<div class="polls-article">
  {% has_questions self as questions %}
  {% if questions %}
    {% poll_page_in_section page=self %}
  {% endif %}
</div>

{% surveys_list_for_pages page=self %}

{% endblock %}
