
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags poll_votings %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="block-article fb-body  fb-card {{self.get_parent_section.get_effective_extra_style_hints}}">
  <h6 class="block-heading fb-accent-1">{{self.title}}</h6>
  {% if self.image %}
  {% image self.image width-100 as tmp_photo %}
  <img class="block-img" src="{{ tmp_photo.url }}" alt="{{ self.image.title }}"/>
  {% endif %}
  <h6 class="sub-heading">{{self.subtitle }}</h6>

<article>
  {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1 class="padding-no-top fb-accent-1">{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
      {% image block.value width-240 as tmp_photo %}
      <img class="article-img padding15" src="{{ tmp_photo.url }}" alt="{{ block.value.title }}"/>
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          <div class="padding-no-top">{{ block }}</div>
      {% endif %}
      {% endif %}
      {% endif %}
  {% endfor %}
</article>
{% include "comments/comment_block.html" %}
</div>
<div class="polls-article">
  {% has_questions self as questions %}
  {% if questions %}
    {% poll_page_in_section page=self %}
  {% endif %}
</div>

{% endblock %}
