{# Used for wagtail preview #}
{% extends "base.html" %}

{% load core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="banner">
  {% if self.banner %}
    {% if self.banner_link_page %}
      <a href="{% pageurl self.banner_link_page %}" class="banner__anchor">
        {% image self.banner width-320 as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ self.banner.title }}" class="banner__image"/>
      </a>
    {% else %}
        {% image self.banner width-320 as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ self.banner.title }}" class="banner__image"/>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
