
{% extends "base.html" %}
{% load static core_tags molo_survey_tags %}
{% load wagtailcore_tags wagtailimages_tags poll_votings competition_tag i18n %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
{% your_words_competition_in_section self %}
<div class="section-list section-list{{section.get_effective_extra_style_hints}}">
  <h2 class="heading section-list__heading">{{self.title}}</h2>
  <ul class="article-list">
    {% load_child_articles_for_section self count=None as articles %}
    {% for article in articles %}
    <li class="article-list__item">
      <h3 class="article-list__heading">
        <a href="{% pageurl article %}" class="article-list__anchor">
          {{article.title}}
        </a>
      </h3>
      {% if article.image %}
        {% image article.image width-100 as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ article.image.title }}" class="article-list__image" />
      {% endif %}
      <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
      <div class="article-list__excerpt">
        <p>{{ article.body|striptags|truncatewords:30 }}</p>
      </div>
      <a href="{% pageurl article %}" class="call-to-action__item-text-read-more">
        {% trans "Read More" %}
      </a>
    </li>
    {% endfor %}
  </ul>


  {% load_child_sections_for_section self as sections %}
    {% for section in sections %}
      <h2 class="section-list__heading section-list__heading--subsection">
        {{section.title}}
        <a href="{% pageurl section %}" class="call-to-action__item-text-see-more">See more</a>
      </h6>
      {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}
      {% if featured_articles %}
      <ul class="article-list">
        {% for article in featured_articles %}
          <li class="article-list__item">
            <h3 class="article-list__heading">
              <a href="{% pageurl article %}" class="article-list__anchor">
                {{article.title}}</a>
            </h3>
            <h4 class="article-list__subtitle">{{article.subtitle|striptags|truncatewords:30}}</h4>
            <a href="{% pageurl article %}" class="call-to-action__item-text-read-more">
              Read More
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
</div>

{% has_questions self as questions %}
{% if questions %}
<div class="polls">
  {% poll_page_in_section page=self %}
</div>
{% endif %}
{% surveys_list_for_pages page=self %}

{% endblock %}
