
@media only screen and (max-width: 240px) {
  .call-to-action__item-share--footer {
    .call-to-action__item-share-img {display: none;}
    .call-to-action__item-share-title {display: block;}
  }
}
@media only screen and (min-width: 320px) {
    html {
      background-color: #333;
      max-width: 35em;
      margin: 0 auto;
    }
    body {
      max-width: 320px;
    }
    input[type="submit"] {
      padding: 12px 55px;
    }
    .article-list {
      margin-bottom: 7px;
      border-radius: 3px 3px 0px 0px;
    }
  @import "_s-buttons";
  @import "_s-social-media-buttons";
  @import "_s-comments";
  @import "_s-heading";
}
